page_gen-dirs: true # uncomment, if you prefer to generate named folders

page_gen:
  - data: 'members'
    template: 'profile'
    name: 'full_name'
    dir: 'people'
    
  - data: 'pets'
    template: 'pet'
    name: 'pet_name'
    dir: 'pets'

  - index_files: false
    data: 'books'
    template: 'book'
    name: 'title'
    dir: 'all-books'
    debug: true

  - data: 'books'
    template: 'book'
    name: 'title'
    dir: 'books-i-have-read'
    filter: read  # read is a boolean value in the YML file

  # read is a boolean value in the YML file, but I need to test for
  # falsity (read: false). The field `filter` is no good and I need to
  # use filter_conditions
  - data: 'books'
    template: 'book'
    name: 'title'
    dir: 'books-i-have-not-read'
    filter_condition: "record['read'] == false"

  - data: 'books'
    template: 'book'
    name: 'title'
    dir: 'books-by-orwell'
    filter_condition: "record['author'] == 'George Orwell'"

  - data: 'hierarchy.people'
    template: 'profile'
    name: 'full_name'
    dir: 'hierarchy'
    
